{% extends 'base.html' %}
{% load static %}

{% block title %} Home{% endblock %}

{% block content %}

<section id="intro">
    <div class="container-lg">
      <div class="row g-4 justify-content-center align-items-center">
        <div class="col-md-5 text-center text-md-start">
          <h1>
            <div class="display-2">Boot Camp 98</div>
            <div class="display-5 text-muted">Home Work 15</div>
          </h1>
          <p class="lead my-4 text-muted">In This Django project We Want To Design A Simple Task Management System.</p>
        </div>
        <div class="col-md-5 text-center d-none d-md-block">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8fupy-PMaau0nCY-zhuJSvB6v8EobwCMQeQ&usqp=CAU" class="img-fluid" alt="ebook">
        </div>
      </div>
    </div>
  </section>

{% endblock %}